.notification {
  width: 200px;
  height: 50px;
  background-color: aqua;
  margin: 0 auto;
  border-radius: 10px;
}

.notification p {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 12px;
}
